.boxer{
     display: flex;
     justify-content: space-between;
     border: 1px solid black;
     margin: 2px;
     height: 200px;
}

.boxer > img{
    height: 190px;
    width: 150px;
}

.sidebar{
    display: flex;
    flex-direction: column;
}


.innerbox{
    display: flex;
    justify-content: space-around;
}

.rightbox{
    width: 960px;
    border: 1px solid blue;
}


.userlist {
    display: flex;
    justify-content: space-around;
}