.jadu {
    position: relative;
    background-color: red;
    border-radius: 70%;
    height: 22px;
    width: 22px;
    bottom: 12px;
    right: 4px;
    align-items: center;
}

.outer {
    display: flex;
}