

.outerbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    /* border: 2px solid rgb(232, 142, 142); */
}

.products {
    background-color: aliceblue;

}

.divider {
    display: flex;
    justify-content: space-between;
}

.divider :nth-child(2) {
    background-color: black;
    color: solid black;
    font-size: larger;
    font-weight: bolder;
}

.outercontainer {
    display: flex;
    justify-content: space-around;
}