.outerbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.divider {
    display: flex;
    justify-content: space-between;
}


.outercontainer {
    display: flex;
    justify-content: space-around;
}